/* style.css */

body.bg-image {
    background-image: url('form/tt.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.main {
    border: 2px solid #001f3f; /* Night blue border */
    padding: 20px;
    border-radius: 10px;
    background-color: #ffffff; /* White background */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 80%; /* Increase width */
    max-width: 500px; /* Set maximum width */
}

h2 {
    text-align: center;
    color: #000000; /* Black font for header */
    margin-bottom: 20px;
}

label {
    color: #000000; /* Black font for labels */
    margin-top: 10px;
}

.box {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    background-color: #ffffff; /* White background */
    color: #000000; /* Black font */
}

#submit {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #00807a; /* Purple background */
    color: #000000; /* Black font */
    font-weight: bold;
    cursor: pointer;
}

#submit:hover {
    background-color: #005d82; /* Darker purple background on hover */
}